# Datasets/ (removed to include in push)
venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

# Large model files
*.pkl
*.npy
*.npz
*.ckpt

# Cache folders
.cache/
catboost_info/
prior/

# IDE
.idea/
.vscode/
